/*General Formatting of headings and text*/
html, body{
    margin: 0;
    padding: 0;
}

.main_header{
    background-image: url("Header_Image.avif");
    background-size: cover;
    padding-bottom: 20px
}

h1 {
    padding-top: 1em;
    padding-bottom: 1em;
    color: white;
    text-align: center;
    border-radius: 8px;
    width: 100%;
}

h1, h2,h3 {
   font-family: Verdana, Geneva, sans-serif; 
}

h3 {
    text-align: left;
    text-size-adjust: auto;
    margin-left:12%;    
}

h3.heading {
    text-align: left;
    margin:0;
    text-size-adjust: auto;
}

h3.section_title {
    text-align: left;
    margin-top: 3%;
    margin-left: 0;
}

p {
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.4;
}

div {
    clear: left;
    padding-bottom: 10px;
}

ul {
    width: 85%;
}

li {
    font-family: Verdana, Geneva, sans-serif;
    line-height: 1.4;
}


/*Horizontal Top Bar Navigation*/

nav.horizontal_nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
}

nav.horizontal_nav li {
    float: left;
    font-size: 1.1em;
    font-weight: bold;
}

nav.horizontal_nav li a {
    display: inline-block;
    color: rgb(241, 241, 247);
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 90px;
    padding-left: 90px;
}

nav.horizontal_nav li a:hover {
    color: white;
    background-color: rgba(255, 255, 255, .3);
}

nav.horizontal_nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 0px;
    margin-right: 35px;
    font-size: 18px;
}

/*Vertical Left Bar Navigation*/

div.vertical_nav ul {
    margin: 20px;
    background-color: rgb(53, 86, 218);
    border-radius: 8px;
    list-style-type: none;
    padding: 0;
    width: 140px;
    height: 71%; 
    overflow-y: scroll; 
    float: left;
}

div.vertical_nav li {
    display:block;
    font-size: 1em;
    font-weight: medium;
}

div.vertical_nav li a {
    display: block;
    color: rgb(241, 241, 247);
    text-decoration: none;
    text-align: left;
    padding: 5px;
}

div.vertical_nav li a:hover {
    color: white;
    background-color: blue;
}